[submodule "~/.dotfiles/ruby/rbenv.symlink"]
	path = ~/.dotfiles/ruby/rbenv.symlink
	url = git://github.com/sstephenson/rbenv.git
[submodule "vim/janus.symlink/vim-jsbeautify"]
	path = vim/janus.symlink/vim-jsbeautify
	url = git://github.com/maksimr/vim-jsbeautify.git
